body{
    background-image: linear-gradient( 89.9deg,  rgba(255,243,110,1) 16.9%, rgba(30,204,214,1) 55.1%, rgba(5,54,154,1) 90.7% );
}
#logout{
    float: right;
    margin-left: 180px;
    font-size: x-large;
}